.top{
	height:35px;
	background:#1f1d1e;	
	min-width:1200px;
}
.top_container{
	width:1200px;	
	height:inherit;
	margin:0 auto;
}
.member{
	float:right;	
}
.member li{
	display:inline;
	margin:0 10px;	
}
.member li a{
	line-height:35px;
	font-size:8pt;
	color:#CCC;	
}
.header{
	width:1200px;
	height:115px;
	margin:0 auto;	
	position:relative;
	z-index:1; /*position이 적용된 객체에만 지정 가능함*/
}
.top_logo{
	float:left;
}
.gnb{
	float:right;
	margin-top:55px;
}
.gnb>li{
	float:left;
	width:180px;
	height:40px;	
	position:relative;
}
.gnb>li>a{
	display:block;
	width:inherit;
	height:inherit;	
	text-align:center;
	line-height:40px;	
	font-size:11pt;
	font-weight:bold;
}
.gnb>li>a:hover{text-decoration:none;}
.gnb>li>ul{
	background:#ac9681;	
	position:absolute;
	top:40px;
	display:none;
}
.gnb>li>ul>li{
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;	
	float:left;
	
}
.gnb>li>ul>li>a{color:white;font-weight:bold;}
.sub1 , .sub2{width:200px;left:-10px;}
.sub3 , .sub4{width:100px;left:40px;}
.sub5{width:300px;left:-140px;}
.gnb>li:hover>ul{display:block;}
.gnb>li:hover>a{color:#ac9681;}




























