@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	font-family: 'Nanum Gothic', sans-serif;
	font-size:10pt;
	color:#666;
	}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	}
img{
	border:none;
	}