.wrap{
  width: 100%;
}
.header{
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #ae2448;
}
.top{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.top::after{
  content: "";
  clear: both;
  display: block;
}
.logo{
  width: 160px;
  float: left;
  margin-top: 10px;
}
.logo img{
  width: 100%;
}
.topMenu{
  float: right;
}
.top0{
}
.top0 a{
  font-size: 6pt;
}
.top0::after{
  content: "";
  clear: both;
  display: block;
}
.top0 li{
  float: left;
  margin-left: 10px;
}
.top1{
}
.top1 a{
  font-size: 6pt;
}
.top1::after{
  content: "";
  clear: both;
  display: block;
}
.top1 li{
  float: left;
  margin-left: 10px;
}
.nav{
  float: left;
  width: 620px;
}
.nav::after{
  content: "";
  clear: both;
  display: block;
}
.nav li{
  float: left;
  margin-left: 64px;
  margin-top: 5px;
}
.main{
  width: 100%;
  position: relative;
}
.mainImg{
  width: 100%;
  overflow: hidden;
}
.mainImgUl{
  width: 300%;
}
.mainImgUl li{
  width: 33.33%;
  float: left;
}
.mainImgLi1{
  width: 100%;
  height: 450px;
  background: url("images/main01.jpg");
  background-repeat: repeat-x;
  background-position: center;
}
.mainImgLi2{
  width: 100%;
  height: 450px;
  background: url("images/main02.jpg");
  background-repeat: repeat-x;
  background-position: center;
}
.centerBox{
  width: 100%;
  position: absolute;
  top: 0;
}
.center{
  width: 1000px;
  margin: 0 auto;

}
.centerText{
  width: 800px;
  margin-top: 140px;
  overflow: hidden;
}
.mainText{
  width: 300%;
}
.mainText li{
  float: left;
  width: 33.33%;
}
.centerBtn{
  margin-top: 40px;
}
.tab{
  margin-top: 40px;
  width: 1000px;
}
.tab::after{
  content: "";
  clear: both;
  display: block;
}
.tab li{
  float: left;
}
.tab0{
  width: 590px;
  background: white;
}
.left{
  width: 510px;
  padding: 40px;
}
.tab1{
  width: 410px;
  background: #aa193c;
}
.leftBtnUl li{

  border-bottom: 2px solid #ae2448;
}

.leftBtn0, .leftBtn1, .leftBtn2{
  width: 73px;
  height: 40px;
}
.leftBtn3, .leftBtn4, .leftBtn5{
  width: 94px;
  height: 40px;
}
.leftBtn{
  background: #f7f7f7;
  border: 1px solid #d9d9d9;
  margin-left: -1px;
}
